$basik-hgfarbe: #354152;
$font-weight: 100;
$input-fsize: 16px;
$line-height: 1.5;
$font-fam: Helvetica;
 
body{
    background-color: $basik-hgfarbe;
    position: relative;
    min-height: 100%;
}
main{
    min-height: 100%;
    position: relative;
    
}
.login-container{
        position: relative;
        background-color: #354152;
        border: 1px solid;
        border-radius: 8px;
        display: block;
        min-height: 600px;  
        justify-items: center;
        margin:  150px auto;
        padding: 40px 100px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &:hover{
            box-shadow: none;
        }  
        .login-titel{
            align-items: center;
            font-family: $font-fam;
            text-align: center; 
            h2{ 
                margin: 0 0 1rem;
                font-weight: $font-weight;
                font-family: $font-fam;
                font-size: 2.7rem;
                color: ivory;
                text-transform: uppercase;
                --x-shadow: 0;
                --y-shadow: 0;
                --x:50%;
                --y:50%;
                position: relative;
                text-shadow: 16px 22px 11px rgba(0, 0, 0, 0.8);
                transition: all ,3s ease;
                &:hover{
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all ,1s ease;
                    text-shadow: var(--x-shadow) var(--y-shadow) 10px;
                }
                &:after{
                    content:"";
                    position: absolute;
                    left: 602px;
                    right: 602px;
                    bottom: 100px;
                    z-index: 999;
                    height: 2px;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    background-position: 0 0;
                    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
                   }
            }
        
        }

    
    .form{
        text-align: center;
        padding: 4rem 2rem;
         label{
             padding: 120px auto;
             color: ivory;
             font-size:20px;
         }
         input{
             border: 1px solid rgb(59, 85, 133);
             border-radius: 8px;
             background: transparent;
             color: whitesmoke;
             height:40px;
             text-align: center;
             font-size: $input-fsize;
             box-sizing: border-box;
             outline: none;
             margin: 20px auto;
                         
            ;
             box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
             &:hover{
                box-shadow: none;
            }  
             &[type="text"], 
             &[type="password"],
             &[type="email"] {
                 background-repeat: no-repeat;
                 background-size: 1.5rem;
                 background-position: 1rem 50%;
                 width: 100%;
                }
            
             
             &[type="submit"]{
                background-image: linear-gradient(160deg, #8ceabb, #378f7b);
                color: #fff;
                margin-bottom: 5rem;
                margin-top: 1.6rem;
                width: 100%; 
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 5px 10px -1px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
                &:hover{
                    background-image: linear-gradient(160deg, #378f7b , #8ceabb);
                }
             }
             .input-pass{
                i{
                    height: 100px;
                   position: absolute;
                }
            }    
                      
        } 
     
        .usertyp{
           
            select{
                padding: 5px 30px 5px 12px;
                margin: 10px auto;
                outline: none;
                background-color: transparent;
                color: #fff;
               /* text-align-last: center;*/
                width:100%;
                font-size: $input-fsize;
                border: 1px solid rgb(59, 85, 133);
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: all 150ms ease;
                option{
                    color: #fff;
                    font-size: $input-fsize;
                    background-color: $basik-hgfarbe;
                    border: 1px solid rgb(59, 85, 133);
                    &[value="siesind"]{
                        display: none;
                    }
                    &:focus{
                        outline: none;
                        border-color: #0077FF;
                        box-shadow: 0 0 0 2px rgba(#0077FF,.2);
                    }
                }
            }
        }  
        a, p{
                font-size: 18px;    
            }
        a{
            color: rgb(180, 60, 60);
        }
        p{
            color: rgb(231, 231, 218);
        }  
        
 }
}